<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeamLider - Lista zatrudnionych graczy</title>
    <link rel="stylesheet" href="css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&family=Syne+Mono&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <h1>TeamLider</h1>
    <ul class="ppt">
        <li><a th:href="@{?lang=en}">
            <img th:src="@{/images/US.png}" width="60"height="60"/>
        </a></li>
        <li><a th:href="@{?lang=pl}">
            <img th:src="@{/images/PL.png}" width="60"height="60"/>
        </a></li>
    </ul>
    <img src="images/logo2.png" alt="TeamLider Logo" width="150" height="150">
</header>

<nav>
    <ul>
        <li><a href="/" th:text="#{lang.li.home}"></a></li>
        <li><a href="/players" th:text="#{lang.li.players}"></a></li>
        <li><a href="/teams" th:text="#{lang.li.teams}"></a></li>
        <li><a href="/assigntos"class="active" th:text="#{lang.li.assignsto}"></a></li>
        <!--<li><a href="/login">Zaloguj się</a></li>-->
        <li><a href="javascript: document.logoutForm.submit()" role="menuitem" th:text="#{lang.li.logout}" sec:authorize="isAuthenticated()"></a>
            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input hidden type="submit" value="Sign Out"/>
            </form> </li>
    </ul>
</nav>
<main>
    <h2 th:text="#{assign.list}"></h2>

    <table class="table-list">
        <thead>
        <tr>
            <th th:text="#{player.name}"></th>
            <th th:text="#{player.surname}"></th>
            <th th:text="#{team.team}"></th>
            <th th:text="#{action}"></th>
        </tr>
        </thead>
        <tbody th:each="assignto : ${assigntos}" sec:authorize="hasAnyAuthority('ADMIN')">
        <tr>
            <td th:text="${assignto.getFirstName()}"></td>
            <td th:text="${assignto.getLastName()}"></td>
            <td th:text="${assignto.getTeamName()}"></td>
            <td>
                <ul class="table-list-actions">
                    <li>
                        <a th:href="${'assignto/'+assignto.getIdPlayer()+'/'+assignto.getIdTeam()}"class="list-actions-button-details" th:text="#{action.details}"></a>
                    </li>
                    <li>
                        <a th:href="${'assignto/edit/'+assignto.getIdPlayer()+'/'+assignto.getIdTeam()}"class="list-actions-button-edit"th:text="#{action.edit}"></a>
                    </li>
                    <li>
                        <!--<a th:href="@{/assignto/delete/{idPlayer}(idPlayer=${assignto.getIdPlayer()})/{idTeam}(idTeam=${assignto.getIdTeam()})}"class="list-actions-button-delete">Usuń</a>-->
                        <!--<a th:href="@{/assignto/delete/{idPlayer}/{idTeam}(idPlayer=${assignto.getIdPlayer()})(idTeam=${assignto.getIdTeam()})}"class="list-actions-button-delete">Usuń</a>-->
                        <a th:href="${'assignto/delete/'+assignto.getIdPlayer()+'/'+assignto.getIdTeam()}"class="list-actions-button-delete"th:text="#{action.delete}"></a>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
        <tbody th:each="assignto : ${assigntosUser}" sec:authorize="hasAnyAuthority('USER')">
        <tr>
            <td th:text="${assignto.getFirstName()}"></td>
            <td th:text="${assignto.getLastName()}"></td>
            <td th:text="${assignto.getTeamName()}"></td>
            <td>
                <ul class="table-list-actions">
                    <li>
                        <a th:href="${'assignto/'+assignto.getIdPlayer()+'/'+assignto.getIdTeam()}"class="list-actions-button-details"th:text="#{action.details}"></a>
                    </li>
                    <li>
                        <a th:href="${'assignto/edit/'+assignto.getIdPlayer()+'/'+assignto.getIdTeam()}"class="list-actions-button-edit"th:text="#{action.edit}"></a>
                    </li>
                    <li>
                        <!--<a th:href="@{/assignto/delete/{idPlayer}(idPlayer=${assignto.getIdPlayer()})/{idTeam}(idTeam=${assignto.getIdTeam()})}"class="list-actions-button-delete">Usuń</a>-->
                        <!--<a th:href="@{/assignto/delete/{idPlayer}/{idTeam}(idPlayer=${assignto.getIdPlayer()})(idTeam=${assignto.getIdTeam()})}"class="list-actions-button-delete">Usuń</a>-->
                        <a th:href="${'assignto/delete/'+assignto.getIdPlayer()+'/'+assignto.getIdTeam()}"class="list-actions-button-delete"
                           sec:authorize="hasAnyAuthority('ADMIN')" th:text="#{action.delete}"></a>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>

    </table>

    <p><a href="/newassignto" class="button-add" th:text="#{assign.add}"></a></p>
</main>


<footer>
    <p>Kacper Padarz s18535</p>
</footer>
</body>
</html>