<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <script type="application/javascript" th:src="@{/js/validationCommon.js}"></script>
    <script type="application/javascript" th:src="@{/js/validationTeamForm.js}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeamLider - FormTeam</title>
</head>
<body>
<header>
    <h1>TeamLider</h1>
    <ul class="ppt">
        <li><a th:href="@{?lang=en}">
            <img th:src="@{/images/US.png}" width="60"height="60"/>
        </a></li>
        <li><a th:href="@{?lang=pl}">
            <img th:src="@{/images/PL.png}" width="60"height="60"/>
        </a></li>
    </ul>
    <img src="images/logo2.png" alt="TeamLider Logo " width="150" height="150">
    <link rel="stylesheet" href="css/style.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&family=Syne+Mono&display=swap"
          rel="stylesheet">
</header>

<nav>
    <ul>
        <li><a href="/" th:text="#{lang.li.home}"></a></li>
        <li><a href="/players" th:text="#{lang.li.players}"></a></li>
        <li><a href="/teams"class="active" th:text="#{lang.li.teams}"></a></li>
        <li><a href="/assigntos" th:text="#{lang.li.assignsto}"></a></li>
        <!--<li><a href="/login">Zaloguj się</a></li>-->
        <li><a href="javascript: document.logoutForm.submit()" role="menuitem" th:text="#{lang.li.logout}" sec:authorize="isAuthenticated()"></a>
            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input hidden type="submit" value="Sign Out"/>
            </form> </li>
    </ul>
</nav>
<main>
    <h2 th:text="#{team.new}"></h2>
    <span hidden th:text="#{error.required}" id="filedrequired"></span>
    <span hidden th:text="#{error.forms}" id="errorForms"></span>
    <span hidden th:text="#{error.size.teamname}" id="errorSizeTeamname"></span>
    <span hidden th:text="#{error.size.description}" id="errorSizeDescription"></span>
    <span hidden th:text="#{error.size.age}" id="errorSizeAge"></span>
    <form class="form" id="myForm" th:object="${team}" th:action="@{/teams}" method="post" novalidate onsubmit="return validateTeamForm();">
        <!--<div class="form-group">-->
        <label for="teamName"><span th:text="#{team.nameteam}"></span><abbr>*</abbr></label>
        <input type="text" th:if="${#fields.hasErrors('teamName')!=true}" name="teamName" id="teamName" th:placeholder="#{placeholder.name}" th:field="*{teamName}"/>
        <input class="error-input" type="text" th:if="${#fields.hasErrors('teamName')}" name="teamName" id="teamName1" th:placeholder="#{placeholder.name}" th:field="*{teamName}"/>
        <span id="errorTeamName" class="errors-text" th:if="${#fields.hasErrors('teamName')!=true}" th:value="${default}"></span>
        <span class="errors-text" th:if="${#fields.hasErrors('teamName')}" th:errors="*{teamName}"></span>
        <!--</div>-->
        <!--<div class="form-group">-->
        <label for="description" th:text="#{team.description}"></label>
        <textarea cols="30" rows="8" th:if="${#fields.hasErrors('description')!=true}" name="description" id="description" th:placeholder="#{placeholder.description}" th:field="*{description}"></textarea>
        <textarea class="error-input" cols="30" rows="8" th:if="${#fields.hasErrors('description')}" name="description" id="description1" th:placeholder="#{placeholder.description}" th:field="*{description}"></textarea>
        <span id="errorDescription" class="errors-text" th:if="${#fields.hasErrors('description')!=true}" th:value="${default}"></span>
        <span class="errors-text" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
        <!--</div>-->
        <!--<div class="form-group">-->
        <label for="minAge"><span th:text="#{team.age}"></span><abbr>*</abbr></label>
        <input type="number" th:if="${#fields.hasErrors('minAge')!=true}" name="minAge" id="minAge" th:field="*{minAge}"/>
        <input class="error-input" type="number" th:if="${#fields.hasErrors('minAge')}" name="minAge" id="minAge1" th:field="*{minAge}" />
        <span id="errorMinAge" class="errors-text" th:if="${#fields.hasErrors('minAge')!=true}" th:value="${default}"></span>
        <span class="errors-text" th:if="${#fields.hasErrors('minAge')}" th:errors="*{minAge}"></span>
        <!--<div class="form-group">-->
        <label for="dateTo"><span th:text="#{team.dateto}"></span><abbr>*</abbr></label>
        <input type="date" th:if="${#fields.hasErrors('dateTo')!=true}" name="dateTo" id="dateTo" th:field="*{dateTo}"/>
        <input class="error-input" type="date" th:if="${#fields.hasErrors('dateTo')}" name="dateTo" id="dateTo1" th:field="*{dateTo}"/>
        <span id="errorDateTo" class="errors-text" th:if="${#fields.hasErrors('dateTo')!=true}" th:value="${default}"></span>
        <span class="errors-text" th:if="${#fields.hasErrors('dateTo')}" th:errors="*{dateTo}"></span>
        <!--</div>-->

        <div class="form-buttons">
            <input class="form-button-submit" type="submit" th:value="#{action.add}"/>
            <p id="errorsSummary" class="errors-text"></p>
            <!--<span class="errors-text" id="errorTeamName2" th:if="${#fields.hasErrors('teamName')}" th:errors="*{teamName}"></span>-->
            <a class="form-button-cancel" href="/teams" th:text="#{action.cancle}"></a>
        </div>
    </form>
</main>

<footer>
    <p>Kacper Padarz s18535</p>
</footer>
</body>
</html>